version: '3.9'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    command: ['redis-server', '--appendonly', 'yes']
    volumes:
      - redisdata:/data

  app:
    build:
      context: .
      # dockerfile: Dockerfile.dev
      dockerfile: Dockerfile
    environment:
      PORT: ${PORT}
      DB_HOST: ${DB_HOST_DOCKER}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      REDIS_HOST: ${REDIS_HOST_DOCKER}
      REDIS_PORT: ${REDIS_PORT}
      NODE_ENV: ${NODE_ENV}
      # WATCHPACK_POLLING: 'true'
      # CHOKIDAR_USEPOLLING: 'true'
      # CHOKIDAR_INTERVAL: '100'
    ports:
      - '3000:3000'
    # volumes:
    #   - ./:/app
    #   - /app/node_modules
    depends_on:
      - db
      - redis

volumes:
  pgdata:
  redisdata:
