version: '3.9'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 28Kris2021
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    command: ['redis-server', '--append-only', 'yes']
    volumes:
      - redisdata:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      PORT: 3000
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: 28Kris2021
      DB_NAME: postgres
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NODE_ENV: development
      WATCHPACK_POLLING: 'true'
      CHOKIDAR_USEPOLLING: 'true'
      CHOKIDAR_INTERVAL: '100'
    ports:
      - '3000:3000'
    volumes:
      - ./:/app:cached
      - /app/node_modules
    depends_on:
      - db
      - redis

volumes:
  pgdata:
  redisdata:
